body {
    background-repeat:repeat-x;
    background-size: 100%;
    background-image: url(images/DACCbuilding.jpg);
    font-family: Arial;
    color: white;
    margin: 0;
    padding: 0;
  }
  #nav {
    list-style-type: none;
    margin: 9px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  #navli {
    float: left;
    display:inline;
  }
  #navli a {
    font-size:55px;
    display: block;
    color: rgb(27, 27, 27);
    text-align: center;
    padding: 14px 16px;
    font-weight:bolder;
    text-decoration: none;
  }
  #navli a:hover {
    background-color: #e7e7e7;
  }
  .navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #ffffff;
  }